%table{:style=>"border: 1px solid red; background-color: white", :border=>1}
  %tr
    %th X
    %td{:width=>'100px', :id=>'accel_x', :align=>"center"} 0
  %tr
    %th Y
    %td{:width=>'100px', :id=>'accel_y', :align=>"center"} 0
  %tr
    %th Z
    %td{:width=>'100px', :id=>'accel_z', :align=>"center"} 0
%textarea{:id=>'status'}
%br



